/* font family */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
/* utilites */
:root {
    --primary-color: #131313;
    --secondary-color: #424242;
    --dark-03: #727272;
    --button-color: #FF900E;
    --white-color:#ffffff;
    --background-color: rgba(255, 144, 14, 0.1);
}
/* reset website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* Commont styles */
.btn-primary {
    font-size: 23px;
    font-weight: 600;
    padding: 20px 25px;
    background-color: var(--button-color);
    border: none;
    border-radius: 8px;
    color: var(--white-color);
}
/* navbar styles */
header {
    background-color: var(--background-color);
}
.navbar {
    padding: 50px 180px ;
}
.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-items .logo-title {
    color:var(--primary-color);
    font-size: 35px;
    font-weight: 700;
}
.nav-items ul{
    display: flex;
}
.nav-items li{
    list-style-type: none;;
}
.nav-items li a {
    text-decoration: none;
    color: var(--secondary-color);
    padding-left: 40px;
    font-weight: 500;
    font-size: 18px;
}
/* nav bar styles end */

/* header banner styles start */
.banners {
 text-align: center;
 padding: 50px 180px;
}
.section-title {
    font-size: 64px;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 75px;
}
.section-subtitle {
    color: var(--secondary-color);
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 75px;
}
.btn-banner {
    margin-bottom: 70px;
}
.banner-img img{
    width: 100%;
}

/* Second Section styles */
.feature-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 85px 190px 100px 190px;
    grid-column-gap: 50px;
}
.feature-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.feature-img img {
    width: 100%;
}
.feature-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.feature-subtitle {
    color: var(--dark-03);
    margin-bottom: 30px;
    line-height: 26px;
}
.span1 {
    font-weight: 500;
    color: var(--dark-03);
}
.span2 {
    color: var(--button-color);
}
/* section 3 */
.enjoy {
}
.enjoy-items {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 160px 0 170px ;
    gap: 40px;
}
.text-items {
    width: 50%;
}
.text-item {
    width: 100%;
}
.image-item {
    max-width: 50%;
    position: relative;
}
.image-item img{
    width: 100%;
    height: 980px;
    position: relative;
    left: 80px;
}

.title {
    font-size: 45px;
    font-weight: 700px;
    color: var(--primary-color);
    margin-bottom: 24px;
    border-left: 5px solid var(--button-color);
    padding-left: 10px;
}
.description {
    color: var(--dark-03);
    line-height: 26px;
}
.sub-box {
    margin-top: 30px;
}
.sub-text {
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
}
.subtext-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.subtext-description {
    color: var(--dark-03);
}
.image-item .btn-image{
    font-size: 55px;
    font-weight: 700;
    position: absolute;
    left: 0;
    bottom: 0;

    
}
.btn-experience{
    font-size: 25px;
    font-weight: 500;
}

/* facts section styles */
.facts-items{
    padding: 100px 180px;
}
.fact-title {
    font-size: 45px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 24px;
}
.fact-des {
    color: var(--dark-03);
    line-height: 26px;
}

/* company statstic design */
.company-stat {
    display: flex;
    justify-content: space-evenly;
    margin: 0 195px;
    gap: 50px;
}
.stat-item {
    padding: 35px 30px 60px 30px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    transition: 2s;
}
.stat-item img {
    margin-bottom: 5px;
}
.stat-item .item-title {
    font-size: 30px;
    margin-top: 5px;
    color: var(--secondary-color);
}
.item-subtitle {
    font-size: 16px;
    color: var(--dark-03);
    font-weight: 600;
}
.stat-item:hover {
    transform: rotate(90deg) scale(.5) skew(-45deg);
    background-color: rgba(255, 127, 80, 0.3);
    box-shadow: 5px 5px 25px var(--dark-03);
}




/* resposive small devices only */
@media only screen and (max-width: 576px) {
    .banners , .navbar{
        padding: 10px 10px;
    }
    .nav-items {
        margin: 10px 0;
    }
    .nav-items ul {
        flex-direction: row;
        padding: 10px;
    }
    .nav-items li a {
        padding-left: 0;
        font-size: 15px;
        margin: 5px;
        transition: .5s;

    }
    .nav-items li a:hover{
        margin: 3px;
        padding: 3.5px;
        border-radius: 3px;
        background-color: var(--button-color);
        color: var(--white-color);

    }
    .section-title {
        font-size: 60px;
    }
    .section-subtitle {
        padding: 0 30px;
    }
    .navbar-items {
        flex-direction: column;
    }
    .btn-banner {
        margin-bottom: 40px;
    }
    .feature-items {
        grid-template-columns: 1fr;
        padding: 10px 0 10px 0;
        order: 1;
    }
    .feature-img {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .feature-text {
        padding: 20px 20px;
    }
    .text-items{
        width: 100%;
    }
    .enjoy-items {
        flex-direction: column-reverse;
        padding: 10px 10px;
    }
    .image-item .btn-image {
      display: none;
    }
    .enjoy-items .image-item {
        position: static;
    }
    .enjoy-items .image-item img {
        width: 100%;
        height: auto;
        margin-top: 40px;
        transform: scale(1.5);
        margin-bottom: 40px;
    }
    .facts-items {
        padding: 20px 20px;
    }
    .company-stat {
        gap: 30px;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        margin: 0;
    }
}
/* for landscape mode */
@media only screen and (max-width: 667px)  {
    .banners , .navbar{
        padding: 10px 10px;
    }
    .nav-items {
        margin: 10px 0;
    }
    .nav-items ul {
        flex-direction: row;
        padding: 10px;
    }
    .nav-items li a {
        padding-left: 0;
        font-size: 15px;
        margin: 5px;
        transition: .5s;

    }
    .nav-items li a:hover{
        margin: 3px;
        padding: 3.5px;
        border-radius: 3px;
        background-color: var(--button-color);
        color: var(--white-color);

    }
    .section-title {
        font-size: 60px;
    }
    .section-subtitle {
        padding: 0 30px;
    }
    .navbar-items {
        flex-direction: column;
    }
    .btn-banner {
        margin-bottom: 40px;
    }
    .feature-items {
        grid-template-columns: 1fr;
        padding: 10px 0 10px 0;
        order: 1;
    }
    .feature-img {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .feature-text {
        padding: 20px 20px;
    }
    .text-items{
        width: 100%;
    }
    .enjoy-items {
        flex-direction: column-reverse;
        padding: 10px 10px;
    }
    .image-item .btn-image {
      display: none;
    }
    .enjoy-items .image-item {
        text-align: center;
    }
    .enjoy-items .image-item img {
        width: 100%;
        height: auto;
        margin-top: 80px;
        transform: scale(1.5);
        margin-bottom: 80px;
    }
    .facts-items {
        padding: 20px 20px;
    }
    .company-stat {

        flex-direction: column;
    }
}